<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method="POST" action="/">
    <p>Team Name<input type="text"></p>
    <p>Coach<input type="text"></p>
  </form>
 </head>
 <body>
 </body>
</html>


