<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

    <h1>Create a Basketball Team!<h1>

    <form method= "POST" action="/newteam">
        
        <h5>Team Name: <input type="text" name="name"></h5>
   
        <h5>Coach: <input type="text" name="coach"></h5>

        <h5>Point Guard: <input type="text" name="p_guard"></h5>

        <h5>Shooting Guard: <input type="text" name="s_guard"></h5>

        <h5>Small Forward: <input type="text" name="s_forward"></h5>

        <h5>Power Forward: <input type="text" name="p_forward"></h5>

        <h5>Center: <input type="text" name="center"></h5>
        
    </form>





 </head>
 <body>
 </body>
</html>


